@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<h1>Contact List of Bowlers in League</h1>

<div class="btn btn-primary">
    <a class="text-white" asp-controller="Home" asp-action="AddBowler">Add a Bowler</a>
</div>

<div class="btn btn-primary">
    <a class="text-white" asp-controller="Home" asp-action="Filter">Filter by Team</a>
</div>

<table class="table table-bordered table-striped">

    <thead class="bold">
        <tr>
            <td>First Name</td>
            <td>Middle Initial</td>
            <td>Last Name</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Phone Number</td>
            <td>Team Name</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.BowlerFirstName</td>
            <td>@x.BowlerMiddleInit</td>
            <td>@x.BowlerLastName</td>
            <td>@x.BowlerAddress</td>
            <td>@x.BowlerCity</td>
            <td>@x.BowlerState</td>
            <td>@x.BowlerZip</td>
            <td>@x.BowlerPhoneNumber</td>
            <td>@x.Team.TeamName</td>

            <td><a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@x.BowlerID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@x.BowlerID">Delete</a></td>
        </tr>
        }
    </tbody>


</table>

